{% extends "layout.html" %}

{% block body %}
<div class="jumbotron jumbotron-fluid" id="jumbotron" >
  <div class="container-fluid text-center">
    <h1 class="display-3" id="jumbo-text">Pizza Deliveries</h1>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. 
        </div>
        <div class="col-sm">
            Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </div>
        <div class="col-sm">
          Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </div>
      </div>
</div>
<p>
  
</p>
{% endblock %}
