{% extends "layout.html" %}

{% block body %}
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://res.cloudinary.com/larenala/image/upload/v1513324826/pizza4_r2brgq.jpg'); background-size:cover; background-position:center; min-height: 400px;">
  <div class="container-fluid text-center">
    <h1 class="display-3" style="color: #fff;">Pizza Deliveries</h1>
  </div>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
{% endblock %}
