{% extends "layout.html" %}

{% block body %}

<button><a href= {{ url_for('pizzas_stats_index') }}>Show pizzas by how many sold</a></button>

<table>

    {% for pizza in pizzas %}
    <tr>
      <td class=productname> {{ pizza.name }}</td>
    </tr>
    <tr>
      <td><a href= {{ url_for('pizza_update', pizza_id= pizza.id) }}><img src={{ pizza.img }} width="220" alt="pizza image"/></a></td>
    </tr>
    <tr>
      <td>Ingredients: {{ pizza.ingredients }}</td>
    </tr>
    <tr>
      <td>
        Price: {{ pizza.price }}
      </td>
    </tr>
    <tr>
      <td>
        <button><a href= {{ url_for('pizza_update', pizza_id= pizza.id) }}>Edit</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>

  
{% endblock %}x