{% extends "layout.html" %}

{% block body %}

<table>
    <tr>
      <th>Pizza</th>
      <th>Ingredients</th>
    </tr>
    {% for pizza in pizzas %}
    <tr>
      <td style="text-transform: uppercase; color: red;"> {{ pizza.name }}</td>
    </tr>
    <tr>
      <td>Ingredients: {{ pizza.ingredients }}</td>
    </tr>
    <tr>
      <td><a href= {{ url_for('show_pizza', pizza_id= pizza.id) }}><img src={{ pizza.img }} width="150" alt="pizza image"/></a></td>
    </tr>
    <tr>
      <td>
        Price: {{ pizza.price }}
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" name="tilaus" value="Add to order" />
        <button><a href= {{ url_for('show_pizza', pizza_id= pizza.id) }}>View</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
