{% extends "layout.html" %}
{% block body %}
<table>
  <th>
      {{ pizza.name }}
  </th>

  <tr>
    <td> 
      Ingredients: {{ pizza.ingredients }}
    </td>
  </tr>

  <tr>
    <td>
      <img src= {{ pizza.img }} width=350 alt="pizza image"/>
    </td>
  </tr>

  <tr>
    <td>
      Price: {{ pizza.price }}
    </td>
  </tr>

  <tr>
    <td>
      <input type="submit" name="tilaa" value="Add to order" />
     <button> <a href= "{{ url_for('pizza_edit_index', pizza_id=pizza.id) }}" >Edit pizza</a></button>
    </td>
  </tr>

</table>

{% endblock %}
