{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('add_to_order', pizza_id=pizza.id) }}">
<table>
  <th>
      {{ pizza.name }}
  </th>

  <tr>
    <td>
      <img src= {{ pizza.img }} width=350 alt="pizza image"/>
    </td>
  </tr>

  <tr>
    <td>
      Price: {{ "{:.2f}".format(pizza.price) }}
    </td>
  </tr>
  <tr>
      <td> 
        Ingredients: {{ pizza.ingredients }}
      </td>
    </tr>  
  <tr>
    <td>
      <label>Add ingredients:</label><br/>
      <select name="ingredientID">
          <option>Ainesosa</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
     <input type="submit" class="bnt-default" value="Add to order" />
    </td>
  </tr>

</table>
</form>
{% endblock %}
