{% extends "layout.html" %}

{% block body %}
<h2>Sales statistics</h2>
<table class="table table-striped table-bordered">
        <thead>
            <th scope="col">Product</th>
            <th scope="col">Sold</th>
        </thead>
        <tbody>  
          {% for  pizza in pizzas %}
            <tr>
              <th scope="row">{{ pizza.name }}</th>
              <td>{{ pizza.sold }}</td>
            </tr>
          {% endfor %} 
          </br>
          
        </tbody>  
      </table></br>

{% endblock %}