body {
    margin: 0;
    background-color: white;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

.col-sm {
    text-align: justify;
}

div.alert, 
ul.flashes {  
    padding-left: 0;
    margin-bottom: 0;
}


#jumbotron {
    background-image: url('https://res.cloudinary.com/larenala/image/upload/v1513324826/pizza4_r2brgq.jpg'); 
    background-size:cover; 
    background-position:center; 
    min-height: 400px;
}

#jumbo-text {
    color: #fff;
}


.productname {
    text-transform: uppercase;
    font-size: 110%;
}

.stats {
    margin-bottom: 2em;
}