{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Order number</th>
      <th>Item</th>
      <th>Delivered</th>
    </tr>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.done }}</td>
      <td>
	<form method="POST" action="{{ url_for('orders_set_delivered', order_id=order.id) }}">
	  <input type="submit" value="Change status!"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
