{% extends "layout.html" %}
  
{% block body %}



<h4>Items ordered: </h4>
<table class="table">
  <thead>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
  </thead>
  <tbody>  
    {% for  pizza in pizzas %}
      <tr>
        <th scope="row">{{ pizza.name }}</th>
        <td>{{ pizza.price  }}</td>
        <td>
            <form method="POST" action="{{ url_for('orderpizza_delete', order_id=order.id, pizza_id=pizza.id) }}">
                <input type="submit" value="Remove"/>
              </form>
        </td>
      </tr>
    {% endfor %} 
    </br>
    <tr>
      <th scope="row">Total: </th>
      <td colspan="2">{{ "{:.2f}".format(order.price) }}</td>
    </tr>
  </tbody>  
</table></br>
<form method="POST" action="{{ url_for('send_order', order_id=order.id) }}">
<h4>Send order</h4>
<table class="table">
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
	{{ form.name(autofocus=true) }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.address.label }}
      </td>
      <td>
	{{ form.address }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.phone.label }}
      </td>
      <td>
        {{ form.phone }}
      </td>
    </tr>

    <tr>
      <td colspan="2">
	<input type="submit" value="Add a new order"/>
      </td>
    </tr>
</table>
</form>
{% endblock %}
