{% extends "layout.html" %}
  
{% block body %}



<h4>Items ordered: </h4>
<table>
    
    {% for  pizza in pizzas %}
      <tr>
        <td>{{ pizza.name }}</li>
        <td>{{ pizza.price }}</li>
      </tr>
    {% endfor %} 
    </br>
    <tr>
      <td>Total: </td>
      <td>{{ order.price }}</td>
    </tr>
</table></br>
<form method="POST" action="{{ url_for('send_order', order_id=order.id) }}">
<h4>Send order</h4>
<table>
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
	{{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.address.label }}
      </td>
      <td>
	{{ form.address }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.phone.label }}
      </td>
      <td>
        {{ form.phone }}
      </td>
    </tr>

    <tr>
      <td colspan="2">
	<input type="submit" value="Add a new order"/>
      </td>
    </tr>
</table>
</form>
{% endblock %}
