{% extends "layout.html" %}
  
{% block body %}
<h4>Order:</h4>
<table class="table">
  <tr scope="row">
    <td>Ordernumber: {{ order.id }}</td>
  </tr>
  <tr scope="row">
      <td>Account number: {{ order.account_id }}</td>
  </tr> 
  <tr scope="row">
    <td>Ordered on: {{ order.order_date }}</td>
  </tr>    
  <tr scope="row">
      <td>Delivery address: {{ order.address }}</td>
  </tr> 
</table>

  <h4>Items: </h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        
      </tr>
    </thead>
    <tbody>
      {% for  pizza in pizzas %}   
        <tr>
          <td>{{ pizza.name }}</li>
          <td>{{ "{:.2f}".format(pizza.price) }}</li>
        </tr>
      {% endfor %} 
        <tr>
          <td>Total: </td>
          <td>{{ "{:.2f}".format(order.price) }}</td>
        </tr>
      </tbody>
  </table></br>

{% endblock %}
