{% extends "layout.html" %}
  
{% block body %}

  <h4>Items ordered: </h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        
      </tr>
    </thead>
    <tbody>
      {% for  pizza in pizzas %}   
        <tr>
          <td>{{ pizza.name }}</li>
          <td>{{ "{:.2f}".format(pizza.price) }}</li>
        </tr>
      {% endfor %} 
        <tr>
          <td>Total: </td>
          <td>{{ "{:.2f}".format(order.price) }}</td>
        </tr>
      </tbody>
  </table></br>

{% endblock %}
