{% extends "layout.html" %}

{% block body %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Account number</th>
        <th scope="col">Username</th>
        <th scope="col">Orders disabled</th>
        <th scope="col">Disable orders</th>
      </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
      <tr scope="row">
        <td>{{ account.id }}</td>
        <td>{{ account.username }}</td>
        <td>{{ account.blacklist }}</td>
        <td>
            <form method="POST" action="{{ url_for('user_disable_orders', user_id=account.id) }}">
             <input type="submit" class="btn-default" value="Disable"/>
           </form>
         </td>
         
      </tr>
      {% endfor %}
     </tbody>
   </table>
{% endblock %}
