{% extends "layout.html" %}

{% block body %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Account number</th>
        <th scope="col">Blacklist</th>
      </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
      <tr scope="row">
        <td>{{ account.username }}</td>
        <td>{{ account.id }}</td>
        <td>{{ account.blacklist }}</td>

        <td>
        <form method="POST" action="{{ url_for('orders_set_delivered', order_id=order.id) }}">
          <input type="submit" value="Change status!"/>
        </form>
        </td>
      </tr>
      {% endfor %}
     </tbody>
   </table>
{% endblock %}
